.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.inputElement {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  background: #eee;
  font: inherit;
  padding: 6px 10px;
  box-sizing: border-box;
}

.inputElement:focus {
  outline: none;
  background: #fff;
}

.invalid {
  border: 1px solid red;
  background-color: #fda49a;
}